.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

section {
  padding: var(--section-padding) 0;
}

@media (max-width: 768px) {
  section {
    padding: var(--section-padding-mobile) 0;
  }
}
